.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.pagination li {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 30px;
    /* background-color:antiquewhite ; */
}

.pagination li a {
    color: #000;
    font-weight: bold;
}

.pagination li:hover {
    background-color: black;
}

.pagination li:hover a {
    color: white;
}